[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/road2stat/hugo-tanka.git
[submodule "themes/hugo-theme-bootstrap4-blog"]
	path = themes/hugo-theme-bootstrap4-blog
	url = https://github.com/alanorth/hugo-theme-bootstrap4-blog.git
